@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 1280px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neg-dugui {
  display: flex;
  align-items: center;
}

.tree-icon {
  background-color: #d9eff7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.fa-tree {
  width: 24px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modniiaav {
  height: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second {
  width: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 4px;
}
.dest {
  background-color: #2b697a;
  width: 124px;
  height: 40px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 6px;
}
.fa-earth-americas {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.third {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
}
.EN {
  background-color: #ecf5fa;
  width: 74px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.Contact {
  background-color: #d9eff7;
  color: #065161;
  width: 86px;
  height: 44px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Book {
  background-color: #2b697a;
  color: #ecf5fa;
  width: 159px;
  height: 48px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  background-color: #065161;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  background: url("./backround.jpg");
  height: 598px;
  width: 1280px;
  position: relative;
  margin-top: 146px;
  background-size: cover;
}
.hero-gradient {
  position: absolute;
  inset: 0;
}
.hero-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hevtee-1 {
  background-color: #d9eff7;
  width: 286px;
  height: 34px;
  border-radius: 99px;
  padding: 4px;
  gap: 8px;
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 48px;
}
.h1-1 {
  width: 112px;
  height: 24px;
  background-color: #194553;
  border-radius: 20px;
  color: #d9eff7;
  width: 129px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  padding: 4px 16px;
  padding: 5px;
}
.h1-2 {
  width: 129px;
  height: 24px;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  text-align: center;
  vertical-align: middle;
  margin-top: 4px;
}
.h1-3 {
  width: 25px;
  height: 25px;
  background-color: #194553;
  border-radius: 50%;
  color: #ffffffc7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 10px;
}
.hevtee-2 {
  width: 486px;
  height: 38px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.75px;
  text-align: center;
  vertical-align: middle;
  color: #d9eff7;
  position: relative;
  margin-top: 16px;
}
.hevtee-3 {
  color: #ffffff;
  width: 231px;
  height: 64px;
  font-family: Plus Jakarta Sans;
  font-weight: 900px;
  font-size: 56px;
  font-style: ExtraBold;
  letter-spacing: -1.4px;
  margin-top: 14px;
}
.hevtee-4 {
  color: #d9eff7;
  width: 700px;
  height: 90px;
  max-width: 700px;
  padding-right: 18px;
  padding-left: 18px;
  font: Inter;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 10px;
}
.hevtee-5 {
  width: 896px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  gap: 20px;
}
.hevtee-5-child {
  background-color: #ffffff;
  padding: 10px 16px;
  gap: 8px;
  border-radius: 999px;
  width: 215px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #194553;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
}
.hevtee-6 {
  width: 896px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  margin-top: 48px;
}
.fa-calendar {
  color: #065161;
  justify-content: center;
  align-items: center;
  display: flex;
}
.child-1-1 {
  width: 260px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.child-2-1 {
  width: 122px;
  height: 16px;
  font: style;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  vertical-align: middle;
  color: #70787c;
}
.child-2-2 {
  font: Inter;
  font-weight: 700;
  font-size: 14px;
  font-style: Bold;
  line-heightn: 20px;
  letter-spacing: 0.14px;
  vertical-align: middle;
  color: #141d21;
  flex-direction: row;
}
.hevtee-6-2 {
  width: 260px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.huuhed-2-1 {
  color: #70787c;
}
.huuhed-2-2 {
  color: #141d21;
}
.fa-location-dot {
  color: #065161;
  justify-content: center;
  align-items: center;
  display: flex;
}

.child-3-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hevtee-6-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.child-3-1 {
  width: 196px;
  height: 48px;
  background-color: #2b697a;
  border-radius: 999px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-right: 32px;
  margin-left: 32px;
}
.fa-arrow-down-long {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-4 {
  width: 96px;
  height: 48px;
  background-color: #9ed9ee;
  border-radius: 999px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #065161;
  margin-right: 24px;
  margin-left: 24px;
}
.huudas-2 {
  display: flex;
  flex-direction: column;
  width: 1280px;

  padding: 72px 48px;
}
.deed-heseg {
  width: 1280px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.deed-1 {
  flex-direction: row;
  display: flex;
}
.deed-1-1 {
  font-weight: 600px;
  font-size: 11px;
  letter-spacing: 1.1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #065161;
}
.deed-1-2 {
  font: Plus Jakarta Sans;
  font-weight: 900;
  font-style: ExtraBold;
  font-size: 40px;
  letter-spacing: -1px;
  vertical-align: middle;
  color: #141d21;
}
.deed-1-3 {
  padding: 10px;
  color: #40484b;
  width: 448px;
}

.zurag-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.zurag-1-1 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  padding: 32px;
}

.huvsgul {
  background-image: url(./khusvgul.jpg);
  width: 680px;
}

.terhiin-tsagaan {
  background-image: url(./terkhiin\ tsagaan.jpg);
  width: 480px;
}

.horgo {
  background-image: url(./Khorgo.jpg);
  width: 480px;
}
.amarbaysgalan {
  background-image: url(./Amarbaysgalan.jpg);
  width: 680px;
}

.huv-etseg {
  gap: 10px;
  display: flex;
}

.huv-1 {
  width: 154px;
  height: 24px;
  border-radius: 999px;
  background-color: #d9eff7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  color: #194553;
}
.huv-2 {
  width: 108px;
  height: 24px;
  border-radius: 999px;
  background-color: #ffffffc7;
  bottom: 4px;
  display: flex;
  font-size: 11px;
  color: #141d21;
  justify-content: center;
  align-items: center;
}
.huv-3 {
  color: #ffffff;
  font-style: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  margin-bottom: 8px;
}
.huv-4 {
  width: 496px;
  height: 40px;
  color: #d9eff7;
  font-weight: 400;
  font-size: 13px;
}

.icons {
  display: flex;
  color: #d9eff7;
  font-size: 11px;
}
.huudas-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  padding: 72px;
  background-color: #ecf5fa;
}
.garchig-heseg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.garchig-1 {
  color: #065161;
  font-size: 11px;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.garchig-1-1 {
  background-color: #d9eff7;
  display: flex;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 9999px;
  width: 191px;
}

.fa-stethoscope {
  color: #065161;
}
.garchig-2 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 40px;
  margin-block: 12px 8px;
}
.garchig-3 {
  color: #40484b;
  font-size: 18px;
  display: flex;
  width: 598.42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 72px;
}
.huudas-3-dood {
  width: 1280px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.day-1 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}
.deed-1-1 {
  width: 65px;
  height: 24px;
  border-radius: 999px;
  background-color: #e6eff5;
}
.deed-1-2 {
  color: #70787c;
  font-size: 13px;
}
.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-bus-simple {
  color: #065161;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}
.day-2 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}
.deed-1-1 {
  width: 65px;
  height: 24px;
  border-radius: 999px;
  background-color: #e6eff5;
}
.deed-1-2 {
  color: #70787c;
  font-size: 13px;
}
.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-building-columns {
  background-color: #065161;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}
.day-3 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}
.deed-1-1 {
  width: 65px;
  height: 24px;
  border-radius: 999px;
  background-color: #e6eff5;
}
.deed-1-2 {
  color: #70787c;
  font-size: 13px;
}
.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-person-hiking {
  display: flex;
  color: #065161;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}
.day-4 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}
.deed-1-1 {
  width: 65px;
  height: 24px;
  border-radius: 999px;
  background-color: #e6eff5;
  justify-content: center;
  display: flex;
  align-items: center;
}
.deed-1-2 {
  color: #70787c;
  font-size: 13px;
}
.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
  width: 330px;
}
.dood-1 {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-bus-simple {
  color: #065161;
}
.dood-1-2 {
  color: #70787c;
  font-size: 11px;
}
.day-5 {
  width: 733px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #d9eff766;
}
.deed-1-5 {
  display: flex;
  justify-content: space-between;
}
.deed-1 {
  border-radius: 999px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.deed-2 {
  color: #70787c;
  font-size: 13px;
}
.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
  width: 330px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-bus-simple {
  color: #065161;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}

.day-5-zurag {
  width: 224px;
  height: 176px;
  border-radius: 8px;
  overflow: hidden;
}

.day-5-zurag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dood-5 {
  width: 224px;
  height: 176px;
  border-radius: 8px;
}
.deed-1-5 {
  background-color: #2b697a;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.huudas-4 {
  width: 1280px;
  height: 933px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px;
}
.tolgoi-heseg {
  width: 672px;
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.tolgoi-1 {
  width: 191px;
  border-radius: 999px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.tolgoi-1-1 {
  background-color: #d9eff7;
}
.money-bills {
  color: #065161;
}
.tolgoi-2 {
}
