@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 20px 48px;
  background-color: white;
  width: 1280px;
}

.neg-dugui {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tree-icon {
  background-color: #d9eff7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.dest {
  background-color: #2b697a;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 8px 16px;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.EN {
  background-color: #ecf5fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  gap: 4px;
  padding: 4px 12px;
}

.en-text {
  color: #141d21;
  font-size: 13px;
  font-weight: 700;
}

.Contact {
  background-color: #d9eff7;
  color: #065161;
  border-radius: 999px;
  padding: 12px 16px;
}

.Book {
  background-color: #2b697a;
  color: #ecf5fa;
  border-radius: 999px;
  padding: 14px 24px;
}

.user {
  background-color: #065161;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  background: url("./backround.jpg");
  height: 598px;
  width: 1280px;
  position: relative;
  margin-top: 146px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-gradient {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  display: flex;
  justify-content: center;
}

.hevtee-1 {
  background-color: #d9eff7;
  border-radius: 99px;
  padding: 4px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.h1-1 {
  background-color: #194553;
  border-radius: 20px;
  color: #d9eff7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  padding: 4px 16px;
}
.h1-2 {
  font-weight: 600;
  font-size: 11px;
  text-align: center;
}
.h1-3 {
  width: 25px;
  height: 25px;
  background-color: #194553;
  border-radius: 50%;
  color: #ffffffc7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 10px;
}
.hevtee-2 {
  width: 486px;
  height: 38px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.75px;
  text-align: center;
  vertical-align: middle;
  color: #d9eff7;
  position: relative;
  margin-top: 16px;
}
.hevtee-3 {
  color: #ffffff;
  width: 231px;
  height: 64px;
  font-family: Plus Jakarta Sans;
  font-weight: 900px;
  font-size: 56px;
  font-style: ExtraBold;
  letter-spacing: -1.4px;
  margin-top: 14px;
}
.hevtee-4 {
  color: #d9eff7;
  width: 700px;
  height: 90px;
  max-width: 700px;
  padding-right: 18px;
  padding-left: 18px;
  font: Inter;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 10px;
}
.hevtee-5 {
  width: 896px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  gap: 20px;
}
.hevtee-5-child {
  background-color: #ffffff;
  padding: 10px 16px;
  gap: 8px;
  border-radius: 999px;
  width: 215px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #194553;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
}
.hevtee-6 {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 48px;
  gap: 13px;
}
.hevtee-6-1 {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 260.84px;
  height: 52px;
  border-right: 2px solid #dae4e9;
}
.fa-calendar {
  color: #065161;
  justify-content: center;
  align-items: center;
  display: flex;
}
.child-1-1 {
  width: 260px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.child-2-1 {
  color: #141d21;
  font-size: 11px;
  font-weight: 600;
}
.child-2-2 {
  font-weight: 700;
  font-size: 14px;
  color: #141d21;
}

.route-highlights {
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 2px solid #dae4e9;
}

.hevtee-6-2 {
  width: 260px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.huuhed-2-1 {
  color: #70787c;
}
.huuhed-2-2 {
  color: #141d21;
}
.fa-location-dot {
  color: #065161;
  justify-content: center;
  align-items: center;
  display: flex;
}

.child-3-1 {
  background-color: #2b697a;
  border-radius: 999px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 14px 32px;
}
.fa-arrow-down-long {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-4 {
  background-color: #9ed9ee;
  border-radius: 999px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 32px;
  color: #065161;
}
.huudas-2 {
  display: flex;
  flex-direction: column;
  width: 1280px;
  padding: 72px 48px;
}
.deed-heseg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.deed-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deed-1-1 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #065161;
  font-size: 11px;
  font-weight: 600;
}

.deed-1-2 {
  font-weight: 900;
  font-size: 40px;
  color: #141d21;
}
.deed-1-3 {
  padding: 10px;
  color: #40484b;
  width: 448px;
  display: flex;
}

.zurag-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.zurag-1-1 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  padding: 32px;
}

.huvsgul {
  background-image: url(./khusvgul.jpg);
  width: 680px;
}

.terhiin-tsagaan {
  background-image: url(./terkhiin\ tsagaan.jpg);
  width: 480px;
}

.horgo {
  background-image: url(./Khorgo.jpg);
  width: 480px;
}
.amarbaysgalan {
  background-image: url(./Amarbaysgalan.jpg);
  width: 680px;
}

.huv-etseg {
  gap: 10px;
  display: flex;
}

.huv-1 {
  width: 154px;
  height: 24px;
  border-radius: 999px;
  background-color: #d9eff7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  color: #194553;
}
.huv-2 {
  width: 108px;
  height: 24px;
  border-radius: 999px;
  background-color: #ffffffc7;
  bottom: 4px;
  display: flex;
  font-size: 11px;
  color: #141d21;
  justify-content: center;
  align-items: center;
}
.huv-3 {
  color: #ffffff;
  font-style: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  margin-bottom: 8px;
}
.huv-4 {
  width: 496px;
  height: 40px;
  color: #d9eff7;
  font-weight: 400;
  font-size: 13px;
}

.icons {
  display: flex;
  color: #d9eff7;
  font-size: 11px;
}
.huudas-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  padding: 72px;
  background-color: #ecf5fa;
}
.garchig-heseg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.garchig-1 {
  color: #065161;
  font-size: 11px;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.garchig-1-1 {
  background-color: #d9eff7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 9999px;
  width: 191px;
  gap: 8px;
}

.fa-stethoscope {
  color: #065161;
}
.garchig-2 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 40px;
  margin-block: 12px 8px;
}
.garchig-3 {
  color: #40484b;
  font-size: 18px;
  display: flex;
  width: 598.42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 72px;
}
.huudas-3-dood {
  width: 1280px;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  gap: 10px;
}

.huudas-3-dood-card {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  width: 378.67px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.huudas-3-dood-card-tom {
  width: 768px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(135deg, #d9eff766, #ffffff, #ffffff);
}

.huudas-3-dood-card-tom-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 500px;
}

.huudas-3-dood-card-tom-zavi {
  width: 224px;
  height: 176px;
  border-radius: 8px;
  overflow: hidden;
}

.huudas-3-dood-card-tom-zavi img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.huudas-3-dood-card-day {
  padding: 4px 12px;
  color: #70787c;
  border-radius: 999px;
  font-size: 11px;
  font-weight: 700;
  background-color: #e6eff5;
}

.huudas-3-dood-card-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #70787c;
  font-size: 13px;
  font-weight: 400;
}

.huudas-3-dood-card-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #70787c;
  font-size: 11px;
  font-weight: 600;
}

.day-1 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}

.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-bus-simple {
  color: #065161;
}
.dood-2 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  color: #70787c;
  font-size: 11px;
}
.day-2 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}

.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}
.day-3 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}

.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-person-hiking {
  display: flex;
  color: #065161;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}
.day-4 {
  width: 378px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding: 24px;
  background-color: #ffffff;
}
.deed-1 {
  display: flex;
  justify-content: space-between;
}

.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
  width: 330px;
}
.dood-1 {
  display: flex;
  margin-top: 10px;
}
.fa-bus-simple {
  color: #065161;
}
.dood-1-2 {
  color: #70787c;
  font-size: 11px;
}
.day-5 {
  width: 733px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #d9eff766;
  flex-direction: column;
}
.etsegg {
  display: flex;
  flex-direction: column;
}
.deed-1-5 {
  display: flex;
}

.deed-2 {
  color: #70787c;
  font-size: 13px;
}
.dund-1 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 18px;
}
.dund-2 {
  color: #40484b;
  font-size: 13px;
  width: 330px;
}
.dood {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.fa-bus-simple {
  color: #065161;
}
.dood-2 {
  color: #70787c;
  font-size: 11px;
}

.day-5-zurag {
  width: 224px;
  height: 176px;
  border-radius: 8px;
  overflow: hidden;
}

.day-5-zurag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dood-5 {
  width: 224px;
  height: 176px;
  border-radius: 8px;
}
.deed-1-5 {
  background-color: #2b697a;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.huudas-4 {
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 72px 48px;
  background-color: #ecf5fa;
}
.tolgoi-heseg {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.tolgoi-1 {
  border-radius: 999px;
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
}
.tolgoi-1-1 {
  background-color: #d9eff7;
  color: #065161;
  border-radius: 999px;
  gap: 8px;
  padding: 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-money-bills {
  color: #065161;
}
.tolgoi-2 {
  color: #141d21;
  font: Plus Jakarta Sans;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tolgoi-3 {
  color: #40484b;
  font-size: 18px;
  width: 650px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
p {
  gap: 3px;
}
.huudas-4-dood {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  gap: 32px;
}

.huudas-4-dood-card {
  background-color: white;
  border-radius: 16px;
  padding: 48px;
  box-shadow: 0 1px 2px #0000000d;
}

.package-name {
  padding: 4px 16px;
  margin-bottom: 16px;
  background-color: #e6eff5;
  width: fit-content;
  border-radius: 999px;
}

.huudas-4-dood-card-traveler {
  color: #70787c;
  font-size: 14px;
  font-weight: 400;
}

.huudas-4-dood-card-price {
  font-size: 36px;
  color: #141d21;
  font-weight: 900;
  margin-bottom: 4px;
}

.huudas-4-dood-card-essential {
  color: #065161;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
}

.includes {
  margin-top: 16px;
  color: #70787c;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 12px;
}

.huudas-4-dood-card {
  list-style: url("./Icon\ \(1\).png");
}

.huudas-4-dood-card-list-hasah {
  list-style: url("./Icon\ \(5\).png");
  color: #70787c;
}

.huudas-4-dood-card-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 32px;
}

.huudas-4-dood-card-button {
  color: #065161;
  font-size: 14px;
  font-weight: 400;
  border-radius: 999px;
  width: 277.33px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.huudas-4-dood-card-middle {
  position: relative;
}

.huudas-4-dood-card-middle-recommended {
  background-color: #d97706;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
  font-weight: 900;
  padding: 4px 16px 4px 48.18px;
}

.huudas-4-dood-card-middle-recommended div {
  width: 103px;
}

.huudas-4-dood-1 {
  height: 513px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 48px;
}
.huu-4-child-1 {
  width: 140px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  color: #40484b;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.huu-4-child-2 {
  width: 277px;
  height: 44px;
  display: flex;
  margin-top: 16px;
  margin-bottom: 4px;
}

.child-2-2 {
  font-size: 14px;
  color: #70787c;
  padding-top: 2px;
  padding-right: 1px;
}
.huu-4-child-3 {
  color: #065161;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700px;
}
.huu-4-child-4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.child-4-1 {
  color: #70787c;
  font-size: 11px;
  margin-bottom: 16px;
}
.child-4-1-group {
  width: 277px;
  font-weight: 400px;
  font-size: 13px;
  color: #141d21;
  margin-bottom: 12px;
}
.huu-4-child-5 {
  width: 277px;
  height: 48px;
  background-color: #e6eff5;
  border-radius: 999px;
  color: #065161;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.huudas-4-dood-2 {
  height: 541px;
  width: 373px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 48px;
}
.huu-4-hvv-1 {
  width: 140px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  color: #40484b;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.huu-4-hvv-2 {
  width: 277px;
  height: 44px;
  display: flex;
  margin-top: 16px;
  margin-bottom: 4px;
}
.hvv-2-1 {
  font-size: 36px;
  font: Plus Jakarta Sans;
  height: 44px;
  display: flex;
  color: #065161;
}
.hvv-2-2 {
  font-size: 14px;
  color: #70787c;
  padding-top: 2px;
  padding-right: 1px;
}
.huu-4-hvv-3 {
  color: #065161;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700px;
}
.huu-4-hvv-4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hvv-4-1 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 16px;
}
.hvv-4-1-group {
  width: 277px;
  font-weight: 400px;
  font-size: 13px;
  color: #141d21;
  margin-bottom: 12px;
}
.huu-4-hvv-5 {
  width: 277px;
  height: 48px;
  background-color: #065161;
  border-radius: 999px;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.fa-arrow-right {
  color: #ffffff;
  margin-left: 8px;
}
.shar {
  width: 186px;
  height: 40px;
  border-radius: 999px;
  background-color: #d97706;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #ffffff;
  font-size: 11px;
  text-wrap: nowrap;
}
.huudas-4-dood-3 {
  height: 513px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}
.huu-4-ohin-1 {
  justify-content: space-between;
  height: 24px;
  display: flex;
}
.huu-4-ohin-1-1 {
  width: 140px;
  height: 24px;
  background-color: #194553;
  border-radius: 999px;
  color: #d9eff7;
  font-size: 11px;
  display: flex;
}
.huu-4-ohin-1-2 {
  width: 96px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  color: #d97706;
  font-size: 11px;
  display: flex;
}
.ohin-2-1 {
  font-size: 36px;
  font: Plus Jakarta Sans;
  height: 44px;
  display: flex;
  color: #141d21;
}
.ohin-2-2 {
  font-size: 14px;
  color: #70787c;
  padding-top: 2px;
  padding-right: 1px;
}
.huu-4-ohin-3 {
  color: #065161;
  margin-bottom: 16px;
  font-size: 14px;
}
.huu-4-ohin-4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ohin-4-1 {
  color: #70787c;
  font-size: 11px;
  margin-bottom: 16px;
}
.ohin-4-1-group {
  width: 277px;
  font-weight: 400px;
  font-size: 13px;
  color: #141d21;
  margin-bottom: 12px;
}
.fa-check {
  color: #141d21;
}
.huu-4-ohin-5 {
  width: 277px;
  height: 48px;
  background-color: #e6eff5;
  border-radius: 999px;
  color: #065161;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.huudas-5 {
  background-color: #e0eaef;
  padding: 72px 48px;
  display: flex;
  width: 1280px;
  align-items: center;
  justify-content: center;
}
.urd-heseg {
  background-color: #ffffff;
  display: flex;
  border-radius: 16px;
  align-items: center;
  padding: 48px;
}
.hvv-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hvv-1-1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 11px;
  color: #065161;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hvv-1-2 {
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-size: 40px;
  color: #141d21;
  margin-bottom: 8px;
}
.hvv-1-3 {
  color: #40484b;
  font-size: 17px;
  font-weight: 400;
  width: 425px;
  height: 96px;
}
.hvv-1-4 {
  width: 197px;
  height: 32px;
  border-radius: 999px;
  background-color: #e6eff5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #18331e;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 8px;
}

.hvv-1-5 {
  width: 276px;
  height: 32px;
  border-radius: 99px;
  background-color: #e6eff5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #18331e;
  font-weight: 700;
  font-size: 11px;
}
.fa-briefcase {
  color: #446744;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hvv-2 {
  width: 614px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.hvv-2-1 {
  width: 299px;
  height: 215px;
  background-color: #ecf5fa;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 12px;
  padding: 24px;
}
.ikon {
  width: 24px;
  height: 23px;
  color: #065161;
}
.har {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #141d21;
}
.saaral {
  font-weight: 400;
  font-size: 13px;
  color: #40484b;
}
.facebook {
  border-radius: 999px;
  background-color: #d9eff7;
  color: #065161;
  padding: 4px 16px;
  font-size: 11px;
}
.instagram {
  padding: 4px 16px;
  border-radius: 999px;
  background-color: #d9eff7;
  color: #065161;
  font-size: 11px;
}
.har1 {
  width: 251px;
  height: 52px;
  font-size: 18px;
  color: #141d21;
  margin-top: 20px;
  margin-left: 24px;
}
.huudas-6 {
  width: 1280px;
  height: 468px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3faff;
  display: flex;
}
.hvvhed-6 {
  width: 1194px;
  padding: 72px 48px;
  border-radius: 24px;
  background-color: #194553;
  display: flex;
}
.hvvhed-6-1 {
  width: 570px;
  height: 180px;
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.hvvhed-6-1-1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  color: #d9eff7;
}
.hvvhed-6-1-2 {
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}
.hvvhed-6-1-3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  color: #d9eff7;
}
.hvvhed-6-2 {
  border-radius: 999px;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 12px;
}

.hvvhed-6-2-1 {
  color: white;
  padding: 16px 32px;
  border-radius: 999px;
  background-color: #2b697a;
}

.hvvhed-6-2-2 {
  color: #194553;
  padding: 16px 32px;
  border-radius: 999px;
  background-color: #ffffffc7;
}

.huudas-7 {
  width: 1280px;
  display: flex;
  padding: 72px 48px;
  background-color: #ecf5fa;
  flex-direction: column;
  margin-bottom: 90px;
  gap: 98px;
}
.hvvhed-7-1 {
  display: flex;
  gap: 48px;
  padding: 72px 48px;
}
.hvvhed-7-1-1 {
  width: 362px;
  height: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.dad {
  display: flex;
  gap: 12px;
}
.huudas-4-dood-2 {
  display: flex;
  flex-direction: column;
}
.one {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: #d9eff7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two {
  color: #065161;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
}
.three {
  font-weight: 600;
  font-size: 11px;
  color: #70787c;
}
.four {
  font-weight: 400;
  font-size: 13px;
  color: #40484b;
}
.five {
  width: 220px;
  height: 42px;
  border-radius: 999px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.five-1 {
  display: flex;
  align-items: center;
}

.onne,
.neeg,
.nneg {
  margin-bottom: 20px;
  color: #141d21;
  font-size: 14px;
  font-weight: 700;
}

.p p,
.hhoyr {
  color: #40484b;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
  text-wrap: nowrap;
}

.hhoyr {
  width: 362px;
  text-wrap: wrap;
  margin-bottom: 16px;
}

.five-etseg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}
.five-2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  color: #18331e;
}
.five-3 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  color: #70787c;
}
.hvvhed-7-1-2 {
  width: 157px;
  height: 204px;
}
.onne {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: #141d21;
}
.p {
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
  color: #40484b;
}
.hvvhed-7-1-3 {
  width: 157px;
  height: 204px;
  display: flex;
  flex-direction: column;
}
.neeg {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: #141d21;
}
.hvvhed-7-1-4 {
  width: 362px;
  height: 204px;
  display: flex;
  flex-direction: column;
}
.nneg {
  font-weight: 700;
  font-size: 14px;
  color: #141d21;
}
.hoyr {
  font-weight: 400;
  font-size: 13px;
  color: #40484b;
  margin-top: 16px;
  display: flex;
  gap: 12px;
}
.ggurav {
  width: 362px;
  height: 52px;
  border-radius: 999px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}

.email {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicig {
  font-weight: 400;
  font-size: 13px;
  color: #70787c;

  display: flex;
  align-items: center;
}
.bbordd {
  width: 101px;
  height: 44px;
  border-radius: 999px;
  background-color: #2b697a;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}
.dduruv {
  width: 362px;
  height: 36px;
  display: flex;
  gap: 8px;
  margin-top: 24px;
}
.d-1 {
  font-weight: 600;
  font-size: 11px;
  color: #70787c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-2 {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-3 {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-4 {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hvvhed-7-2 {
  width: 1184px;
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
  padding-left: 48px;
}
.hvvhed-7-2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
.hvvhed-7-2-2 {
  width: 660px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  color: #40484b;
  gap: 24px;
}
